<configuration debug="false"> 
  <property scope="context" name="nodeId" value="content-negotiation" />

  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <appender name="FILE_ERR" class="ch.qos.logback.core.rolling.RollingFileAppender">
	<filter class="ch.qos.logback.classic.filter.ThresholdFilter">   
      <level>WARN</level>
    </filter>   
  	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">   
      <fileNamePattern>err_logFile.%d{yyyy-MM-dd}.log</fileNamePattern>   
      <maxHistory>30</maxHistory>    
    </rollingPolicy>   
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-4relative [%thread] %-3level %logger{26} - %marker %msg%n</pattern>
    </encoder>
  </appender>
   
  <appender name="FILE_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
  	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">   
      <fileNamePattern>info_logFile.%d{yyyy-MM-dd}.log</fileNamePattern>   
      <maxHistory>30</maxHistory>    
    </rollingPolicy>   
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-4relative [%thread] %-3level %logger{26} - %marker %msg%n</pattern>
    </encoder>
  </appender>
   <appender name="DB_FILE_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
  	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">   
      <fileNamePattern>db_access_logFile.%d{yyyy-MM-dd}.log</fileNamePattern>   
      <maxHistory>30</maxHistory>    
    </rollingPolicy>   
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-4relative [%thread] %-3level %logger{26} - %marker %msg%n</pattern>
    </encoder>
  </appender>
    
   <appender name ="ASYNC" class= "ch.qos.logback.classic.AsyncAppender">  
	<queueSize>51200</queueSize>  
	<appender-ref ref ="FILE_ERR"/> 
   </appender> 
 
    <logger name="com.xy.caipiao.host.online.aop.ServiceAspect" level="INFO" additivity="false"> 
	<queueSize>51200</queueSize> 
        <appender-ref ref="FILE_INFO" />  
    </logger>  

    <logger name="com.xy.caipiao.host.online.aop.DaoAspect" level="INFO" additivity="false"> 
	<queueSize>51200</queueSize> 
        <appender-ref ref="DB_FILE_INFO" />  
    </logger>  
     
  <root level="WARN">
	<appender-ref ref="ASYNC" />
  </root>
</configuration>
